/* Wrapper styling */
.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
//Grid lines styling
.lines_black{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 360px;
    span{
      border-left: 1px solid #412815;
      height: 100vh;
    }
    :nth-child(5){
      border-right: 1px solid #412815;
    }
}

//Web Medium Screen//
@media screen and (max-width: 1280px) {
  .wrapper{
    max-width: 1080px;
  }
}

//Tablet Screen//
@media screen and (max-width: 1024px) {
  .wrapper{
    max-width: 824px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper{
    max-width: 568px;
  }
}
@media screen and (max-width: 360px) {
  .wrapper{
    max-width: 320px;
  }
}