@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* Wrapper styling */
.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.lines_black {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 360px;
}
.lines_black span {
  border-left: 1px solid #412815;
  height: 100vh;
}
.lines_black :nth-child(5) {
  border-right: 1px solid #412815;
}

button:hover {
  transition: all 400ms cubic-bezier(0.765, 0.005, 0.435, 1);
  transition-timing-function: cubic-bezier(0.765, 0.005, 0.435, 1);
}
button:not(:hover) {
  transition: all 400ms cubic-bezier(0.765, 0.005, 0.435, 1);
  transition-timing-function: cubic-bezier(0.765, 0.005, 0.435, 1);
}

/*Button Styling*/
button {
  all: unset;
  cursor: pointer;
  /* Optionally add custom styles here */
  gap: 16px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: 0px 32px;
  height: 44px;
}

/*Primary Button Styling*/
.btn_primary {
  color: #ffffff;
  background-color: #CD7F32;
}
.btn_primary:hover {
  background-color: #895521;
}

/*Secondary Button Styling*/
.btn_secondary {
  color: #ffffff;
  background-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #272725;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select, textarea, button {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Alverata-Bold"; /* name of your font */
  src: url("/fonts/Alverata-Bold.ttf"); /* path to your font file */
  font-weight: bold;
  font-style: bold;
}
header .hdr_con {
  padding: 80px 0 135px 0;
}
header .hdr_con .hdr_dtls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hdr_con .hdr_dtls .btn_left .hamburger {
  display: none;
}

.perf_atf {
  position: absolute;
  width: 100%;
}
.perf_atf .wrapper {
  max-width: 1362px;
}
.perf_atf .atf_con .dtls_container {
  background-image: url(/images//concrete-color.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 90px;
}
.perf_atf .atf_con .dtls_container .atf_dtls {
  position: relative;
}
.perf_atf .atf_con .dtls_container .atf_dtls img {
  position: absolute;
  bottom: -60px;
  right: -93px;
}
.perf_atf .atf_con .dtls_container .atf_dtls .right_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 40%;
}
.perf_atf .atf_con .dtls_container .atf_dtls .right_content .title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.perf_atf .atf_con .dtls_container .atf_dtls .right_content button {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #FFCA95;
  background-color: rgba(205, 127, 50, 0.4);
}
.perf_atf .atf_con .dtls_container .atf_dtls .right_content button:hover {
  background-color: rgba(131, 69, 16, 0.4);
}
.perf_atf h1 {
  font-family: "Alverata-Bold";
  font-size: 44px;
  line-height: 56px;
  color: #ffffff;
}
.perf_atf p {
  color: #ffffff;
  line-height: 32px;
}

.perf_partners {
  margin-top: 180px;
  background-color: #ffffff;
}
.perf_partners .wrapper {
  margin: 0 auto;
}
.perf_partners .partners_con {
  padding: 300px 0 105px 0;
}
.perf_partners .partners_con .partners_dtls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.perf_partners .partners_con .partners_dtls .top_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}
.perf_partners .partners_con .partners_dtls .top_content h2 {
  font-family: "Alverata-Bold";
  font-size: 40px;
  line-height: 46px;
  color: #CD7F32;
}
.perf_partners .partners_con .partners_dtls .top_content p {
  color: #CD7F32;
  line-height: 32px;
}
.perf_partners .partners_con .partners_dtls .btm_content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.perf_qual .qual_con {
  padding: 140px 0;
}
.perf_qual .qual_con .qual_dtls {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.perf_qual .qual_con .qual_dtls .right_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.perf_qual .qual_con .qual_dtls .right_content .title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.perf_qual .qual_con .qual_dtls .right_content .title h2 {
  font-family: "Alverata-Bold";
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.perf_qual .qual_con .qual_dtls .right_content .title p {
  color: #ffffff;
  line-height: 32px;
}
.perf_qual .qual_con .qual_dtls .right_content .qual_group {
  display: flex;
  gap: 40px;
}
.perf_qual .qual_con .qual_dtls .right_content .qual_group .qual {
  display: flex;
  gap: 24px;
  flex: 1;
}
.perf_qual .qual_con .qual_dtls .right_content .qual_group .qual h3 {
  color: #ffffff;
}
.perf_qual .qual_con .qual_dtls .right_content .qual_group .qual p {
  color: #ffffff;
  line-height: 32px;
}
.perf_qual .qual_con .qual_dtls .right_content .qual_group .qual .details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.perf_qual .qual_con .qual_dtls .right_content button {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #FFCA95;
  background-color: rgba(205, 127, 50, 0.4);
}
.perf_qual .qual_con .qual_dtls .right_content button:hover {
  background-color: rgba(205, 127, 50, 0.8);
}

.perf_projects {
  overflow: hidden;
  position: relative;
  background: url("/images//concrete-color.png") left center/50% no-repeat, linear-gradient(to right, transparent 50%, #ffffff 50%); /* Gradient color on the right half */
}
.perf_projects .projects_con {
  padding: 80px 0;
}
.perf_projects .projects_con .project_dtls {
  display: flex;
  align-items: center;
}
.perf_projects .projects_con .project_dtls .left_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.perf_projects .projects_con .project_dtls .left_content h2 {
  font-family: "Alverata-Bold";
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.perf_projects .projects_con .project_dtls .left_content p {
  color: #ffffff;
  line-height: 32px;
}
.perf_projects .projects_con .project_dtls .left_content button {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #FFCA95;
  background-color: rgba(205, 127, 50, 0.4);
}
.perf_projects .projects_con .project_dtls .left_content button:hover {
  background-color: rgba(131, 69, 16, 0.4);
}
.perf_projects .projects_con .project_dtls .right_content {
  display: flex;
  gap: 40px;
  position: absolute;
  right: -150px;
}

.perf_team {
  background: linear-gradient(to bottom, transparent 50%, #ffffff 50% 80%, transparent 80%);
}
.perf_team .team_con {
  padding: 140px 0 70px 0;
}
.perf_team .team_con .team_dtls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.perf_team .team_con .team_dtls .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.perf_team .team_con .team_dtls .title h2 {
  font-family: "Alverata-Bold";
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
}
.perf_team .team_con .team_dtls .title p {
  color: #ffffff;
  line-height: 32px;
}
.perf_team .team_con .team_dtls .btm_group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.perf_team .team_con .team_dtls .btm_group .member_group {
  display: flex;
  gap: 24px;
}
.perf_team .team_con .team_dtls .btm_group .member_group .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.perf_team .team_con .team_dtls .btm_group .member_group .member img {
  width: 100%;
}
.perf_team .team_con .team_dtls .btm_group .member_group .member .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.perf_team .team_con .team_dtls .btm_group .member_group .member .name h3 {
  color: #000000;
}
.perf_team .team_con .team_dtls .btm_group .member_group .member .name p {
  color: #000000;
}
.perf_team .team_con .team_dtls .btm_group .exp_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 64px;
  position: relative;
  background-image: url(/images//concrete-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.perf_team .team_con .team_dtls .btm_group .exp_group .exp {
  display: flex;
  flex-direction: column;
}
.perf_team .team_con .team_dtls .btm_group .exp_group .exp .hlight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.perf_team .team_con .team_dtls .btm_group .exp_group .exp h4 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
}
.perf_team .team_con .team_dtls .btm_group .exp_group .exp p {
  color: #ffffff;
  font-weight: 500;
}

footer .footer_cont {
  padding: 70px 0 0 0;
}
footer .footer_cont .footer_dtls {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footer_cont .footer_dtls .top_ftr {
  display: flex;
  justify-content: space-between;
}
footer .footer_cont .footer_dtls .top_ftr .cmpny_dtls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 35%;
}
footer .footer_cont .footer_dtls .top_ftr .cmpny_dtls p {
  color: #ffffff;
  line-height: 32px;
}
footer .footer_cont .footer_dtls .top_ftr .cmpny_dtls .top_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer_cont .footer_dtls .top_ftr .cmpny_dtls .top_content img {
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer_cont .footer_dtls .top_ftr .cmpny_dtls .btm_content {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer_cont .footer_dtls .top_ftr .links_group {
  display: flex;
  gap: 56px;
}
footer .footer_cont .footer_dtls .top_ftr .links_group .links {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer .footer_cont .footer_dtls .top_ftr .links_group .links h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
footer .footer_cont .footer_dtls .top_ftr .links_group .links .lnk_cnt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer_cont .footer_dtls .top_ftr .links_group .links .lnk_cnt p {
  color: #ffffff;
  line-height: 32px;
}
footer .footer_cont .footer_dtls .btm_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-top: 1px solid #575757;
}
footer .footer_cont .footer_dtls .btm_footer .left_content {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer_cont .footer_dtls .btm_footer .right_content {
  display: flex;
  gap: 40px;
}
footer .footer_cont .footer_dtls .btm_footer p {
  color: #ffffff;
}

.menu_mobile {
  display: none;
}

.ilis_na {
  position: absolute;
  padding: 10px 20px;
  background-color: white;
  display: none;
}

@media screen and (max-width: 1280px) {
  .menu_mobile {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(39, 39, 37, 0.24);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    position: fixed;
    z-index: 6;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .menu_mobile .menu_con {
    padding: 90px 0;
    background-color: #ffffff;
    height: 100vh;
  }
  .menu_mobile .menu_con .wrapper {
    width: 100%;
    padding: 0 56px;
    height: 100%;
  }
  .menu_mobile .menu_con .wrapper .menu_dtls {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
  }
  .menu_mobile .menu_con .wrapper .menu_dtls .top_content {
    display: flex;
    gap: 48px;
  }
  .menu_mobile .menu_con .wrapper .menu_dtls .top_content button {
    padding: 0px 10px;
    border: 1px solid #272725;
    background-color: transparent;
    height: 32px;
  }
  .menu_mobile .menu_con .wrapper .menu_dtls .btm_content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    height: 100%;
  }
  .menu_mobile .menu_con .wrapper .menu_dtls .btm_content button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    padding: 0;
  }
  .wrapper {
    max-width: 824px;
  }
  header .hdr_con .hdr_dtls .btn_center {
    display: none;
  }
  header .hdr_con .hdr_dtls .btn_left {
    display: flex;
    gap: 16px;
  }
  header .hdr_con .hdr_dtls .btn_left .hamburger {
    display: flex;
    padding: 0px 12px;
    border: 1px solid #FFCA95;
    background-color: rgba(205, 127, 50, 0.4);
  }
}/*# sourceMappingURL=styles.css.map */