@use 'grid';
@use 'animation';
@use 'button';
@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
  font-family: 'Alverata-Bold'; /* name of your font */
  src: url('/fonts/Alverata-Bold.ttf'); /* path to your font file */
  font-weight: bold;
  font-style: bold;
}

//* {outline: 1px solid cyan}; //for checking

//Navigation Styling//
nav{
  .hdr_con{
    padding: 80px 0 135px 0;
    .hdr_dtls{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn_left{
        .hamburger{
          display: none;
        }
      }
    }
  }
}

//Above the Fold Styling//
.perf_atf{
  position: absolute;
  width: 100%;
  .wrapper{
    max-width: 1362px;
  }
  .atf_con{
    .dtls_container{
      background-image: url(/images//concrete-color.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 60px 90px;
      .atf_dtls{
        position: relative;
        img{
          position: absolute;
          bottom: -60px;
          right: -93px;
        }
        .right_content{
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 40%;
          .title{
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
          button{
            width: fit-content;
            border: 1px solid #FFCA95;
            background-color: rgba(205, 127, 50, 40%);
            &:hover{
              background-color: rgba(131, 69, 16, 40%);
            }
          }
        }
      }
    }
  }
  h1{
    font-family: 'Alverata-Bold';
    font-size: 44px;
    line-height: 56px;
    color: #ffffff;
  }
  p{
    color: #ffffff;
    line-height: 32px;
  }
}

//Partners Styling//
.perf_partners{
  margin-top: 180px;
  background-color: #ffffff;
  .wrapper{
    margin: 0 auto;
  }
  .partners_con{
    padding: 300px 0 105px 0;
    .partners_dtls{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      .top_content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        width: 100%;
        h2{
          font-family: 'Alverata-Bold';
          font-size: 40px;
          line-height: 46px;
          color: #CD7F32;
        }
        p{
          color: #CD7F32;
          line-height: 32px;
        }
      }
      .btm_content{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

//Qualities Styling//
.perf_qual{
  .qual_con{
    padding: 140px 0;
    .qual_dtls{
      display: flex;
      justify-content: space-between;
      gap: 120px;
      img:nth-child(2){
        display: none;
      }
      .right_content{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title{
          display: flex;
          flex-direction: column;
          gap: 16px;
          h2{
            font-family: 'Alverata-Bold';
            font-size: 40px;
            line-height: 46px;
            color: #ffffff;
          }
          p{
            color: #ffffff;
            line-height: 32px;
          }
        }
        .qual_group{
          display: flex;
          gap: 40px;
          .qual{
            display: flex;
            gap: 24px;
            flex: 1;
            h3{
              color: #ffffff;
            }
            p{
              color: #ffffff;
              line-height: 32px;
            }
            .details{
              display: flex;
              flex-direction: column;
              gap: 12px;
            }
          }
        }
        button{
          width: fit-content;
          border: 1px solid #FFCA95;
          background-color: rgba(205, 127, 50, 40%);
          &:hover{
            background-color: rgba(205, 127, 50, 80%);
          }
        }
      }
    }
  }
}

//Projects Styling//

.perf_projects{
  overflow: hidden;
  position: relative;
  background: 
    url('/images//concrete-color.png') left center / 50% no-repeat, /* Image on the left half */
    linear-gradient(to right, transparent 50%, #ffffff 50%); /* Gradient color on the right half */
  .projects_con{
    padding: 80px 0;
    .project_dtls{
      display: flex;
      align-items: center;
      .left_content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        h2{
          font-family: 'Alverata-Bold';
          font-size: 40px;
          line-height: 46px;
          color: #ffffff;
          width: 40%;
        }
        p{
          color: #ffffff;
          line-height: 32px;
        }
        button{
          width: fit-content;
            border: 1px solid #FFCA95;
            background-color: rgba(205, 127, 50, 40%);
            &:hover{
              background-color: rgba(131, 69, 16, 40%);
          }
        }
      }
      .right_content{
        display: flex;
        gap: 40px;
        position: absolute;
        right: -150px;
      }
    }
  }
}

//Team Styling//
.perf_team{
  background: linear-gradient(to bottom, transparent 50%, #ffffff 50% 83%, transparent 83%);
  .team_con{
    padding: 140px 0 70px 0;
    .team_dtls{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
      .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
        h2{
          font-family: 'Alverata-Bold';
          font-size: 40px;
          line-height: 46px;
          color: #ffffff;
        }
        p{
          color: #ffffff;
          line-height: 32px;
          text-align: center;
        }
      }
      .btm_group{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .member_group{
          display: flex;
          gap: 24px;
          .member{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img{
              width: 100%;
            }
            .name{
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 8px;
              h3{
                color: #000000;
                text-align: center;
              }
              p{
                color: #000000;
                text-align: center;
              }
            }
          }
        }
        .exp_group{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 64px;
          position: relative;
          background-image: url(/images//concrete-color.png);
          background-repeat: no-repeat;
          background-size: cover;
          .exp{
            display: flex;
            flex-direction: column;
            .hlight{
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 24px;
            }
            h4{
              font-size: 32px;
              line-height: 48px;
              font-weight: 600;
              color: #ffffff;
            }
            p{
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

//Footer Styling//
footer{
  .footer_cont{
    padding: 70px 0 0 0;
    .footer_dtls{
      display: flex;
      flex-direction: column;
      gap: 40px;
      .top_ftr{
        display: flex;
        justify-content: space-between;
        .cmpny_dtls{
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 35%;
          p{
            color: #ffffff;
            line-height: 32px;
          }
          .top_content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            img{
              width: fit-content;
            }
          }
          .btm_content{
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
        .links_group{
          display: flex;
          gap: 56px;
          .links{
            display: flex;
            flex-direction: column;
            gap: 32px;
            h4{
              color: #ffffff;
              font-weight: 600;
              font-size: 20px;
              line-height: 40px;
            }
            .lnk_cnt{
              display: flex;
              flex-direction: column;
              gap: 20px;
              p{
                color: #ffffff;
                line-height: 32px;
              }
            }
          }
        }
      }
      .btm_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        border-top: 1px solid #575757;
        .left_content{
          display: flex;
          align-items: center;
          gap: 20px;
        }
        .right_content{
          display: flex;
          gap: 40px;
        }
        p{
          color: #ffffff;
        }
      }
    }
  }
}

// Mobile Menu //
.menu_mobile{
  display: none;
}

//Web Medium Screen//
@media screen and (max-width: 1280px){
  // Navigation Styling //
  nav{

  }
  //Above the Fold Styling//
  .perf_atf{
    .wrapper{
      max-width: 1200px;
    }
    .atf_con{
      .dtls_container{
        .atf_dtls{
          img{
          }
          .right_content{
            width: 50%;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }

  //Projects Styling{
  .perf_projects{
    background: url(/images//concrete-color.png) left center / 57% no-repeat,
    linear-gradient(to right, transparent 50%, #ffffff 50%);
    .projects_con{
      .project_dtls{
        .left_content{
        }
        .right_content{
          right: -250px;
        }
      }
    }
  }
}

//Tablet Screen//
@media screen and (max-width: 1024px) {
  // Navigation Styling //
  nav{
    .hdr_con{
      .hdr_dtls{
        .btn_center{
          display: none;
        }
        .btn_left{
          display: flex;
          gap: 16px;
          .hamburger{
            display: flex;
            padding: 0px 12px;
            border: 1px solid #FFCA95;
            background-color: rgba(205, 127, 50, 0.4);
            align-items: center;
          }
        }
      }
    }
  }

  // Menu Mobile //
  .menu_mobile{
    display: none;
    justify-content: flex-end;
    background-color: rgba(39, 39, 37, 24%);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 6;
    top: 0;
    width: 100%;
    height: 100vh;
    .menu_con{
      padding: 90px 0;
      background-color: #ffffff;
      height: 100vh;
      .wrapper{
        width: 100%;
        padding: 0 56px;
        height: 100%;
        .menu_dtls{
          display: flex;
          flex-direction: column;
          height: 100%;
          gap: 40px;
          .top_content{
            display: flex;
            gap: 48px;
            button{
              padding: 0px 10px;
              border: 1px solid #272725;
              background-color: transparent;
              height: 32px;
            }
          }
          .btm_content{
            display: flex;
            flex-direction: column;
            gap: 56px;
            justify-content: center;
            height: 100%;
            button{
              font-size: 20px;
              line-height: 36px;
              font-weight: 500;
              padding: 0;
            }
          }
        }
      }
    }
  }

  //Above the Fold Styling//
  .perf_atf{
    .wrapper{
      max-width: 946px;
    }
    .atf_con{
      .dtls_container{
        padding: 60px;
        .atf_dtls{
          img{
            bottom: -60px;
            right: -62px;
          }
          .right_content{
            width: 60%;
          }
        }
      }
    }
  }

  //Partners Styling//
  .perf_partners{
    .wrapper{
    }
    .partners_con{
      .partners_dtls{
        .top_content{
        }
        .btm_content{
          img:first-child{
            height: 49px;
          }
          img:last-child{
            height: 80px;
          }
        }
      }
    }
  }

  //Qualities Styling//
  .perf_qual{
    .qual_con{
      .qual_dtls{
        flex-direction: column;
        gap: 80px;
        img:first-child{
          display: none;
        }
        img:nth-child(2){
          display: flex;
        }
        .right_content{
          .title{
          }
          .qual_group{
            .qual{
              .details{
              }
            }
          }
        }
      }
    }
  }

  //Projects Styling//{
  .perf_projects{
    background: url("/images//concrete-color.png") left center/68% no-repeat,
    linear-gradient(to right, transparent 50%, #ffffff 50%);
    .projects_con{
      .project_dtls{
        .left_content{
        }
        .right_content{
          right: -480px;
        }
      }
    }
  }

  //Team Styling//
  .perf_team{
    .team_con{
      .team_dtls{
        .title{

        }
        .btm_group{
          .member_group{
            .member{
              .name{
                p{
                  font-size: 14px;
                }
              }
            }
          }
          .exp_group{
            .exp{
              .hlight{

              }
            }
          }
        }
      }
    }
  }

  //Footer Styling//
  footer{
    .footer_cont{
      .footer_dtls{
        .top_ftr{
          flex-direction: column;
          gap: 40px;
          .cmpny_dtls{
            flex-direction: row;
            width: 100%;
            gap: 120px;
            .top_content{
            }
            .btm_content{
              p{
                width: max-content;
              }
            }
          }
          .links_group{
            justify-content: space-between;
            .links{
              .lnk_cnt{

              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  //Above the Fold Styling//
  .perf_atf{
    .wrapper{
      max-width: 768px;
    }
    .atf_con{
      .dtls_container{
        .atf_dtls{
          img{
            right: -250px;
          }
          .right_content{
            width: 80%;
          }
        }
      }
    }
  }

  //Partners Styling//
  .perf_partners{
    .wrapper{
    }
    .partners_con{
      .partners_dtls{
        .top_content{
          h2{
            text-align: center;
          }
        }
        .btm_content{
          flex-wrap: wrap;
          width: 80%;
          row-gap: 32px;
          img:first-child{
            order: 4;
          }
          img:last-child{
            order: 5;
          }
        }
      }
    }
  }
}

